@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */
@layer utilities {
          /* Hide scrollbar for Chrome, Safari and Opera */
          .no-scrollbar::-webkit-scrollbar {
              display: none;
          }
         /* Hide scrollbar for IE, Edge and Firefox */
          .no-scrollbar {
              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */
        }
      }
/* globals.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* Add any other global styles here */
  }
  